.event-details-add ul.event-list-add {
    display: flex;
    list-style: none;
    gap: 8px;
    justify-content: center;
}

.event-details-add {
    flex-direction: column;
    background: linear-gradient(69deg, #F9037A, #743289);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.event-details-add ul.event-list-add a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.event-details-add h1 {
    font-size: 48px;
    margin-top: -100px;
}

.event-testimonials .carousel-indicators button.thumbnail {
  width: 100px;
}
.event-testimonials .carousel-indicators button.thumbnail:not(.active) {
  opacity: 0.7;
}
.event-testimonials .carousel-indicators {
    position: static;
    gap: 8px;
}
.event-testimonials {
    margin-top: -160px;
    padding-bottom: 160px;
}

.event-testimonials .carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.event-testimonials .carousel-indicators img.d-block {
    width: 100px !important;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
}

.event-testimonials button.carousel-control-prev {
    background: #743289;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    position: absolute;
    top: 440px;
    left: 160px;
}

 .event-testimonials span.carousel-control-prev-icon {
    width: 20px;
}

 .event-testimonials span.carousel-control-next-icon {
    width: 20px;
}

.event-testimonials button.carousel-control-next {
    background: #743289;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    position: absolute;
    top: 440px;
    right: 160px;
}
.inner-content-win-left {
    background: #4939C0;
    color: #fff;
    border-radius: 15px;
    padding: 26px;
    height: 345px;
}
.inner-content-win-left button.btn.btn-buy {
    background: #F9037A;
    color: #fff;
    border-radius: 50px;
    width: 68%;
    padding: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: auto;
}

.inner-content-win-left p.mb-1 {
    font-size: 22px;
}

.row.inner-content-add-win {
    padding-bottom: 50px;
}

.countdown.text-center.mb-3 h3 {
    color: #EC6624;
    display: flex;
    justify-content: space-evenly;
}

.countdown.text-center small.days-text-add {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}
 
.countdown span.number-text-add {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 10px 0;
}

.inner-content-win-right i.bi.bi-trophy {
    color: #743289;
    padding-right: 5px;
}

.inner-content-win-right h6 {
    font-size: 20px;
    color: #1C1C1E;
}
 
.inner-content-win-right h3.fw-bold {
    font-size: 45px;
    color: #1C1C1E;
}
.enter-now-chance {
    display: flex;
    justify-content: space-between;
}
.enter-now-chance p strong {
    font-weight: 700;
    font-size: 20px;
}
.enter-now-chance p {
    font-weight: 500;
}
.inner-content-win-right p.contest-number b {
    color: #F9037A;
}

.inner-content-win-right {
    padding-right: 50px;
}
.inner-content-win-right h5.mt-4 {
    font-size: 25px;
    color: #1C1C1E;
}
.inner-content-win-right p.contest-number {
    border-bottom: solid 1px #D7D7D7F5;
    padding-bottom: 15px;
    color: #1C1C1E;
}
.ticket-box h5 {
    font-size: 25px;
}
 
.ticket-box p {
    font-size: 26px;
    font-weight: 600;
}


.ticket-box select#tickets {
    background: none;
    border: solid 1px #fff;
    color: #fff;
    border-radius: 12px;
    padding: 10px 10px;
    outline: none;
    margin-bottom: 33px;
}


.ticket-box select#tickets option {
    color: #fff !important;
    background: #4939c0;
}

