nav.navbar.navbar-expand-lg .dropdown a#dropdownMenuLink img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100px;
    object-position: center;
}

nav.navbar.navbar-expand-lg {
    background: #fff;
    padding: 0px;
}

nav.navbar.navbar-expand-lg .dropdown a#dropdownMenuLink span {
    color: #1a1a1a;
    font-weight: 500;
}

nav.navbar.navbar-expand-lg .dropdown-toggle::after {
    color: #000;
}

nav.nav.flex-column {
    padding-bottom: 25px;
}

.sidebar.left-sidebar {
    background: #fff;
    padding: 0px;
    border: solid 1px #d7d7d7;
    border-radius: 12px;
    height: 100%;
    margin-bottom: 20px;
}

.sidebar.left-sidebar .profile-info {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 20px;
}

.sidebar.left-sidebar .profile-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar.left-sidebar .profile-info h6 {
    margin: 10px 0 2px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    font-family: "Jost";
    font-size: 20px;
    color: #191f33;
    font-weight: 400;
}

.sidebar.left-sidebar .profile-info i.bi.bi-check-lg {
    background: #27c200;
    color: #fff;
    border-radius: 100px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top: -10px;
}

.sidebar.left-sidebar .profile-info small {
    color: gray;
}

.sidebar.left-sidebar .nav-link {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 6px;
    border-radius: 0px;
    border-left: solid #fff;
}

.sidebar.left-sidebar .nav-link.active,
.sidebar .nav-link i {
    color: #000 !important;
}

.sidebar.left-sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background: #f9037a33;
    color: #000;
    border-radius: 0px;
    border-left: solid #f9037a;
    font-size: 18px;
    font-family: "Jost";
}

.sidebar.left-sidebar .nav-link.active,
.sidebar .nav-link:hover i {
    color: #000;
}

a.nav-link.active i {
    color: #000;
}

a.nav-link i {
    font-size: 20px;
    padding-right: 10px;
}

.sidebar.left-sidebar .nav-link.active,
.sidebar .nav-link i {
    color: #767e94;
}

.sidebar.left-sidebar .nav-link.active,
.sidebar .nav-link i:hover {
    color: #000;
}

li.dropdown-header.d-flex.justify-content-between.align-items-center {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 0px;
}

a.dropdown-item.d-flex.align-items-center.gap-2.py-2:hover {
    background: #fecde4;
    color: #000;
}

a.dropdown-item.text-center.fw-semibold.text-primary {
    background: #743289;
    color: #fff !important;
    padding: 11px 0px;
    margin-top: 10px;
}

a.dropdown-item:hover {
    background: #fecde4;
    color: #000;
}


ul.dropdown-menu.dropdown-menu-end.shadow-lg.border-0.rounded-3.show {
    padding: 0px;
}

nav.navbar.navbar-expand-lg span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger {
    width: 20px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav.navbar.navbar-expand-lg span.badge.bg-danger.rounded-pill {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #d7d7d7;
    padding: 0px;
}

.profile-card .card-body {
    padding: 20px 20px;
}

.profile-card .card-header {
    background: #f9037a33;
    border-bottom: none;
    font-size: 20px;
    border-radius: 8px 8px 0 0;
    padding: 11px 20px;
    color: #181a20;
    font-weight: 500;
}

.profile-card .upload-btn {
    border: solid 1px #f9037a;
    background: #fff;
    padding: 8px 22px;
    font-size: 15px;
    color: #f9037a;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
}

.form-check-label {
    font-size: 14px;
    color: gray;
}

.profile-card .save-btn {
    background: #743289;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 8px 20px;
    margin-top: 30px !important;
}

.profile-section-add {
    margin-top: 55px;
}

.right-side-content h4 {
    font-size: 32px;
    width: 40%;
    font-weight: 400;
}

.right-side-content span.welcome_text {
    font-weight: 600;
}

.sidebar.left-sidebar a.nav-link.active {
    font-weight: 500 !important;
}

.right-side-content {
    padding-left: 35px;
    margin-bottom: 50px !important;
}

.profile-section-add label.form-label {
    margin-bottom: 0px;
    font-weight: 500;
}

.profile-section-add input.form-control {
    border: solid 1px #d1d5db;
    border-radius: 16px;
    height: 45px;
    box-shadow: none;
    padding-left: 20px;
    font-size: 15px;
}

.profile-section-add select.form-select {
    border: solid 1px #d1d5db;
    border-radius: 16px;
    height: 45px;
    box-shadow: none;
}

.profile-section-add .form-check-label {
    font-size: 14px;
    color: #000000;
}

.profile-card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profile-card i.bi.bi-upload {
    padding-right: 8px;
}

form.profile-form-add {
    width: 82%;
}